<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin_template.css">
    <link rel="stylesheet" href="/css/admin.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <link rel="stylesheet" href="/css/sweetalert2.min.css">
    <script src="/js/sweetalert2.all.min.js"></script>



    

</head>
<body>


<div th:replace="~{admin/admin_template :: navbar}"></div>



<div class="wrapper">

    <div th:replace="~{admin/admin_template :: sidebar}"></div>
    
    <main class="content" id="content">


        <div class="dashboard-container">
            <h2 class="dashboard-title">Gazett Dashboard</h2>

            

            <!-- Search Bar -->
<div class="search-container text-center mb-3">
    <input type="text" id="searchInput" class="form-control" placeholder="Search by Title Date or Part" th:if="${#lists.size(gazettes) > 0}">
</div>
<div class="total-count text-center mb-3">
    <p>Total Tenders: <span th:text="${#lists.size(gazettes)}">0</span></p>
</div>
        
            <div class="table-wrapper">
                <table class="dashboard-table"  th:if="${#lists.size(gazettes) > 0}">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Part</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="gazetteTableBody">
                        <tr th:each="gazette, iterStat : ${gazettes}">
                            <td th:text="${iterStat.index + 1}">1</td>
                            <td th:text="(${gazette.date} + '-' + ${gazette.part} + '.pdf' )">gazette-title.pdf</td>
                            <td th:text="${gazette.date}">2025-03-11</td>
                            <td th:text="${gazette.part}">Part 1</td>
                            <td>
                                <div class="dropdown">
                                    <button class="dropdown-toggle" onclick="toggleDropdown(this)">More </button>
                                    <div class="dropdown-menu">
                                        <a href="#" th:attr="data-id=${gazette.id}" onclick="confirmDelete(this)">🗑️ Delete</a>
                                        <a th:href="@{/gazette/pdf/{id}(id=${gazette.id})}" target="_blank">👁️ View</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p th:unless="${#lists.size(gazettes) > 0}" class="no-data-message">No gazette entries available.</p>
            </div>
        
            <div id="paginationControls" class="pagination-controls"></div>
        </div>
        

</main>
</div>

<div th:replace="~{admin/admin_template :: footer}"></div>




<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/admin.js"></script>

</body>
</html>
